body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #4682b4;
    color: #fff;
    padding: 20px;
    font-size: 120%;
    text-align: center;
}

.left{
    background-color: #40e0d0;
    width: 40%;
    height: 500px;
}

.right{
    background-color: #40e0d0;
    width: 60%;
    height: 500px;
}

a{
    padding: 5px;
    margin: 10px;
    border: 1px solid #000080;
}